In [1]:
countries = {
    "INdia":"New  Delhi",
    "USA":"Washington",
    "France":"Paris",
    "Germany":"Berlin",
    "Italy":"Rome"
     
}
print(countries)

{'INdia': 'New  Delhi', 'USA': 'Washington', 'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}

In [3]:
countries = {"India":"New  Delhi"}
print(countries["India"])

New  Delhi

In [4]:
countries = {"India":"New Delhi", "USA":"Washington"}
countries["USA"]="NEW YORK"
print(countries)

{'India': 'New Delhi', 'USA': 'NEW YORK'}

In [5]:
countries = {
    "India":"New Delhi",
    "France":"Paris"
}
del countries["France"]
print(countries)

{'India': 'New Delhi'}

In [3]:
students = {
    "Rahul":85,
    "Anita":92,
    "Sunil":78,
}
print(students.values())

dict_values([85, 92, 78])